.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: calc(100vh - 15vh);
    overflow-y: auto !important;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 5vh;
    border: none;
}

.page {
    overflow-x: auto;
}

.dropdown {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    padding: 1em !important;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        height: auto;
    }

    .header {
        flex-direction: column;
        height: auto;
    }

    .dropdown {
        padding: 0.5em !important;
    }
}