.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: calc(100vh - 15vh);
    overflow-y: auto !important;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 5vh;
}

.page {
    overflow-x: auto;
}