html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.leftPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17A2B8;
    padding: 2em;
    box-sizing: border-box;
}

.centeredImage {
    width: 50%;

    height: 50%;
}

.centeredImage img {
    width: 100%;
    height: auto;
}

.leftPanel,
.rightPanel {
    width: 100vw;
    height: 100vh;
    text-align: center;

}



form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form input {
    margin-bottom: 1em;
    outline: none !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 1em !important;
    width: 100% !important;
    
}


.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 12px;
}

.btnLogin {
    background-color: #17A2B8 !important;
    color: white;
    border: white;
    padding: 1em;
    width: 50%;
    cursor: pointer;
}

input {
    border: none !important;
    border-radius: 5px !important;
    padding: 1em !important;
    width: 100% !important;
    outline: none !important;
    margin-bottom: 1em;
    display: inline-block;
}

.btnOpp {
    background-color: #white !important;
    color: #17A2B8;
    border: #17A2B8 solid 1px !important;
    padding: 1em;
    width: 50%;
    cursor: pointer;
}

.passwordInput {
    border: none !important;
    margin-bottom: 1em;


}

.passwordDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;



}

@media (min-width: 48em) {


    .container {
        flex-direction: row;
    }

    .leftPanel,
    .rightPanel {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }

    input {
        padding: 5px;
        margin-bottom: 10px;
    }
}