html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.leftPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17A2B8;
    padding: 2em;
    box-sizing: border-box;
}

.centeredImage {
    width: 50%;

    height: 50%;
}

.centeredImage img {
    width: 100%;
    height: auto;
}

.leftPanel,
.rightPanel {
    width: 100vw;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input,
button {
    margin: 1em 0;
    padding: 1em;
    width: 50%;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 12px;
}

.btnLogin {
    background-color: #17A2B8;
    color: white;
    border: white;
    padding: 1em;
    width: 50%;
    cursor: pointer;
}

input {
    border: 1px solid #D0D0D0 !important;
    border-radius: 5px !important;
    padding: 1em !important;
    width: 50% !important;

}

.btnOpp {
    background-color: #white;
    color: #17A2B8;
    border: #17A2B8;
    padding: 1em;
    width: 50%;
    cursor: pointer;
}

.passwordInput {
    border: none !important;


}

.passwordDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    border: 1px solid #D0D0D0;
    border-radius: 5px;

}

.passwordDiv input[type="text"],
.passwordDiv input[type="password"] {
    width: 100% !important;
    margin-left: 10px;
    border: none !important;
    padding: 1em !important;
    outline: none !important;


}

@media (min-width: 48em) {


    .container {
        flex-direction: row;
    }

    .leftPanel,
    .rightPanel {
        width: 50%;
    }
}