.card {
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 20px;
    width: calc(100% - 20px);
    z-index: 1000;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dueDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #DBDBDB;
    border: 1px solid #000;
    margin-right: 10px;

}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons label {
    margin-left: 10px;
}

.scrollableDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    width: 100%;
    max-height: 200px;
}

.scrollableDiv input[type="checkbox"] {
    margin-right: 10px;
}

.scrollableDiv input[type="checkbox"]:checked {
    background-color: #17A2B8;
    color: white;
}

.handleTask {
    display: flex;
    position: relative;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.priority-dot {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    display: inline-block !important;

}

.buttons button {
    width: 72px;
    height: 42px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #EEECEC;
    margin-right: 10px;
}

.taskDueDate {
    background-color: #DBDBDB;
    border: 1px solid #000;
    border-radius: 5p
}


.priority-dot.low {
    background-color: #63C05B !important;
}

.priority-dot.medium {
    background-color: #18B0FF !important;
}

.priority-dot.high {
    background-color: #FF2473 !important;
}

.largeCheckboxRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 1em;
}

.largeCheckboxRow input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}