.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}


.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.heading {
    margin-top: 0;
    text-align: left;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60%;
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.checklist {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.checklist label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.checklistItem {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
}

.checklistItem input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checklistItem input[type="checkbox"]:checked {
    background-color: #17A2B8;
    color: white;
}

.scrollableDiv {
    overflow-y: auto;
    max-height: 200px;
}


.dueDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 10px;
    font-size: large;

}

.dueDateOverdue {
    background: #CF3636;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dueDateNotOverdue {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 600px) {

    .dueDate,
    .dueDateOverdue {
        font-size: 1em;
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .taskContainer {
        width: 100%;
        padding: 10px;
    }

    .title {
        font-size: 1.5em;
    }

    .priority,
    .createdAt {
        font-size: 1em;
    }

    .checklistItem {
        font-size: 1em;
    }
}