/* createTask.module.css */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
}

.inputLabel,
.radioGroup {
    display: block;
    margin-bottom: 20px;
}

.radioButton {
    display: inline-block;
    margin-right: 10px;
}

.scrollableDiv {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: ;
}

.checklistItem {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.innerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.addButton {
    display: block;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancelButton,
.saveButton {
    background-color: white;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;

}

.saveButton {
    background-color: #17A2B8;
    ;
    color: white;
    border: 1px solid #63C05B;

}

.cancelButton {
    color: #FF2473;
    background-color: white;
    border: 1px solid #FF2473;

}

.radioGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radioButtons {
    display: flex;
    gap: 10px;
}

.radioButton input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.radioButton input[type="radio"]:checked {
    background: none;
}

.radioButton {
    color: black;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.radioButtonLow {
    border-color: #63C05B;
}

.radioButtonMedium {
    border-color: #18B0FF;
}

.radioButtonHigh {
    border-color: #FF2473;
}

.radioButtonActive {
    border-width: 2px;
}